.navbar {
  max-width: 100vw;
  height: 3.6rem;
  background: black;
  color: white;
  display: flex;
  column-gap: 0.5rem;
  padding: 0.2rem 0.5rem;
  z-index: 99;
  position: sticky;
  top: 0;
}
.logo,
.address,
.search-bar,
.sign-in,
.return,
.cart {
  display: grid;
  place-content: center;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.3rem;
  cursor: pointer;
}
.logo:hover,
.address:hover,
.sign-in:hover,
.return:hover,
.cart:hover {
  border: 1px solid white;
  border-radius: 3px;
}

.logo img {
  padding-top: 0.5rem;
  height: 2.5rem;
}
.address {
  font-size: 0.7rem;
  min-width: 200px;
}

.address .bottom {
  display: flex;
}
.location-icon {
  transform: scale(0.8, 0.7);
}

.search-icon {
  padding: 0.1rem 0.4rem;
  transform: scale(1);
  /* height: 1rem; */
  color: black;
  background-color: orange;
  border-radius: 0 10px 10px 0;
}

.search-bar {
  display: flex;
  flex: 1; /*This means the search bar will grow to fill up any space */
  align-items: center;
}
/**----------- Normal input field --------*/
.search-bar input {
  width: 80%;
  min-width: 300px;
  height: 2rem;
  padding: 10px;
  border: none;
  /*this is how to get rid of annoying default sides of input */
  border-radius: 2px 0 0 2px;
}
.highlighted {
  border: 4px solid orange !important;
}

.search-bar input:focus {
  outline: none;
}

/**----------- MUI input field --------*/
.input {
  min-width: 300px;
  background-color: white;
  width: 70%;
  /* height: 2rem; */
  border-radius: 10px 0 0 10px;
}
/**-----------End of MUI input field -----*/
.sign-in,
.return {
  font-size: 0.7rem;
}
.cart {
  display: flex;
  align-items: center;
}
.cart span {
  margin-left: 0.3rem;
}
