.home {
  display: flex;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    rgb(173, 232, 255) 50%,
    rgb(173, 232, 255, 0.3) 60%,
    rgba(194, 193, 193, 0.3) 70%,
    rgba(201, 201, 201, 0.3) 100%
  );
}
.filter {
  filter: brightness(50%);
}

.home-container {
  max-width: 1500px;
}
.home-img {
  width: 95%;
  object-fit: cover;

  z-index: 2;
  margin-bottom: -100px;
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}
.crop {
  height: 550px;
  object-fit: cover;
}
.home-row {
  display: flex;
  z-index: -1;
  margin: 30px 20px;
  /* margin-top: 20px; */
  column-gap: 25px;
  margin-top: 0;
}
.swiper-slide {
  height: auto;
}

.home-row-joined {
  display: flex;
  z-index: 1;
  margin: 30px 20px;
  margin-top: 0px;
  /* margin-top: 20px; */
  /* column-gap: 25px; */
}
.row-title {
  padding: 20px 30px;
  text-align: left;
  background-color: white;
  font-weight: bold;
  text-transform: capitalize;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5rem;
}
.row-title span {
  margin-left: 10px;
  text-transform: none;
  font-weight: normal;
  font-size: 1rem;
  cursor: pointer;
  color: rgb(11, 109, 109);
}
.row-title span:hover {
  text-decoration: underline;
  color: rgb(220, 89, 13);
}
